*{
	margin: 0 auto; 

}
body{
	padding: 0 10px;
}
.navbar {
	position: initial;
	height: 250px;
	margin-top:40px;
	border: 0.5px solid #cecece;
	-webkit-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
	-moz-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
	box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
}
.navbar ul{
	padding: 0px;
}

.navbar .first{
	position: relative;
	text-align:center;
	left:0;
}
.medium-container{
	width: 100%;	
}
.logo{	
	position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.text-center{
	text-align: center;
}
.left{
	float: left;

}
.right{
	float: right;
}
.nav-link.active img{
	padding: 10px 0;
}

.left .menu {
	font-size: 15px;
}
.navbar ul {
	list-style: none;
	display: flex;
	
}

.navbar li {
	padding: 10px 7px;
	text-align: center;			  
}			

.navbar .right a {
	font-family: sans-serif;
	color: rgba(0,0,0,.5);
	text-decoration: none;
}
.navbar .menu{
	flex-flow: column wrap;
}
.navabar .social-media {
	flex-flow: column wrap ;
}
.social-media a{
	color: #000 ;
}

.navbar a:hover {
	color: #000;
	font-weight: 500;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border: 1px solid;
  float: left;
  width: 100%;
}
.search-container{
	display: flex;
}

.search-container button {
  padding: 9px;
  margin-top: 8px;  
  background: #000;
  border: none;
  cursor: pointer;
  color:#fff;
}

.search-container button:hover {
  background: #ccc;
}
@media (min-width: 900px) {
	*{
		font-family: 'Lato', sans-serif;
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box; 
	}

	.navbar{
		height: 45px;
		margin-top:0px; 
		flex-flow: unset;
	}
	.navbar ul {
		flex-flow: unset;
		
		padding: 0 20px;
	}
	.navbar .menu{
		justify-content: flex-end;	
		flex-flow: initial;	

	}
	.navbar .social-media{
		justify-content: flex-end;
	}
	.navbar .first{
		position: absolute;
		left:20px;
		top:10px;
	}
	.logo{
		width: 20%;
		position:relative;
		text-align: left;
		padding: 0 10px;
	}
	.medium-container{
		width: 33.3%;	
	}
	
}			